<header class="main-nav">
          <nav>
            <div class="main-navbar">
              <div id="mainnav">
                <ul class="nav-menu custom-scrollbar">
                  <li class="back-btn">
                    <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                  </li>
                  <li class="dropdown"><a class="nav-link menu-title" href="{% url 'dashboard:index' %}"><i data-feather="home"></i><span>Dashboard</span></a></li>
                  <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="user"></i><span>Traders Log book</span></a>
                    <ul class="nav-submenu menu-content">
                      <li><a class="submenu-title" href="javascript:void(0)">Currency<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                        <ul class="nav-sub-childmenu submenu-content">
                          <li><a href="{% url 'dashboard:currency-add' %}">Record Currency</a></li>
                          <li><a href="{% url 'dashboard:currency-list' %}">Performance</a></li>
                        </ul>
                      </li>
                      <li>     <a class="submenu-title" href="javascript:void(0)">Stock Index<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                        <ul class="nav-sub-childmenu submenu-content">
                          <li><a href="{% url 'dashboard:stock-add' %}">Record Stock</a></li>
                          <li><a href="{% url 'dashboard:stock-list' %}">Performance</a></li>
                        </ul>
                      </li>

                      <li>     
                      <a class="submenu-title" href="javascript:void(0)">Futures<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                        <ul class="nav-sub-childmenu submenu-content">
                          <li><a href="{% url 'dashboard:futures-add' %}">Record Futures</a></li>
                          <li><a href="{% url 'dashboard:futures-list' %}">Performance</a></li>
                        </ul>
                      </li>

                      <li>     
                      <a class="submenu-title" href="javascript:void(0)">Crypto<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                        <ul class="nav-sub-childmenu submenu-content">
                          <li><a href="{% url 'dashboard:cryto-add' %}">Record Crypto</a></li>
                          <li><a href="layout-rtl.html">Performance</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="nav-link menu-title" href=""><i data-feather="file-text"></i><span>Balance Sheet</span></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>