{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="dtt-page-title-wrap dtt-style-custom dtt-left-align">
    <div class="dtt-header-transparent-substitute"></div>
    <div class="dtt-page-title-overlay"></div>
    <div class="dtt-page-title-container dtt-container">
        <div class="dtt-page-title-content dtt-item-pdlr">
            <h1 class="dtt-page-title">Who We Are</h1>
            <div class="dtt-page-caption-divider"></div>
            <p>We work together to make great things happen</p>
        </div>
    </div>
</div>
<section class="the-people">
    <div class="row">
        <div class="col-md-6 pl-1">
            <div class="dtt-page-title dtt-item-pdlr">
                <h6>Who are we</h6>
                <h1 class="dtt-title">Our <span>People</span></h1>
                <div class="dtt-page-caption-divider"></div>
                <p class="dtt-text">We have a drive for innovation, and everyone who works here is connected by a transparent and collaborative environment. 
We welcome new ideas, accept differing opinions and embrace new ways of seeing the world. If you think you can bring a fresh perspective, get in touch today.
</p>
                <a href="{% url 'page:people' %}">View Our Team</a>
            </div>
        </div>
        <div class="col-md-6"><img src="{% static 'images/ce.jpg' %}" alt="into-image"></div>
    </div>
</section>

<section class="the-tech">
    <div class="row">
        <div class="col-md-6"><img src="{% static 'images/ce.jpg' %}" alt="into-image"></div>
        <div class="col-md-4 ml-30">
            <div class="dtt-page-title">
                <h6>How we do it</h6>
                <h1 class="dtt-title">Tools and <span>Technology</span></h1>
                <div class="dtt-page-caption-divider"></div>
                <p class="dtt-text">Our proprietary systems incorporate best-of-breed 
open source solutions which enable faster innovation 
and deliver greater value to our business.

We differentiate our investment process via our three 
core pillars of expertise in macro 
thinking trade structuring & Risk management
</p>
                <a href="{% url 'page:people' %}">View Our Team</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}