{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section class="trusted-area breadcrumb-area text-center">
   <div class="trusted-fluid">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="trusted-content">
                       <div class="trusted__title">
                           <ul class="bread__rumb-item">
                               <li class="active-item"><a href="{% url 'page:home' %}">home</a></li>
                               <li>services</li>
                           </ul>
                           <h2 class="trusted__title-title">DTT Academy</h2>
                       </div><!-- end trusted__title -->
                   </div><!-- end trusted-content -->
               </div><!-- end col-md-12 -->
           </div><!-- end row -->
       </div><!-- container -->
   </div><!-- end trusted-fluid -->
</section>

<section class="single-area responsive-content area-padding">
   <div class="service-fluid">
       <div class="container">
           <div class="row">
               <div class="col-md-8">
                   <div class="single-content single--content">
                       <div class="avivon-heading">
                           <h2 class="avivon__title">Introduction to Financial markets</h2>
                           <p class="avivon__desc audit-title mt-30px mb-40px">With interactive classroom sessions and digital learning formats of high practical relevance, DTT Academy provides first-hand financial market know-how. Focused on trading, clearing and settlement, our training courses and study programmes are aligned with DTT products and services. Further financial topics, such as the functioning of capital markets, investment products, portfolio management and new technologies like blockchain, complement the offering.
                           </p>
                       </div><!-- end avivon-heading -->
                   </div><!-- end single-content -->

                   <div class="single__img clearfix mt-30px avivon-single">
                     <div class="avivon-heading single__service">
                         <h3>Our asset classes</h3>
                         <ul class="plan__list mt-25px">
                             <li><i class="fas fa-check-circle"></i> Currencies</li>
                             <li><i class="fas fa-check-circle"></i> Futures</li>
                             <li><i class="fas fa-check-circle"></i> Crypto currencies</li>
                             <li><i class="fas fa-check-circle"></i> Indices</li>
                             <li><i class="fas fa-check-circle"></i> Commodities</li>
                             <li><i class="fas fa-check-circle"></i> Equities</li>
                         </ul>
                     </div><!-- end avivon-heading -->
                 </div>

                 <div class="single__img clearfix mt-30px avivon-single">
                  <div class="avivon-heading single__service">
                      <h6 class="avivon__title">Training program outline</h6>
                      <ol>
                         <li>Recorded course
                           <ul class="plan__list mt-25px">
                              <li><i class="fas fa-check-circle"></i> More than 20 hours with practical knowledge
                              </li>
                              <li><i class="fas fa-check-circle"></i> Clarity</li>
                              <li><i class="fas fa-check-circle"></i> Descriptive</li>
                              <li><i class="fas fa-check-circle"></i> Quiz at the end of each lesson</li>
                          </ul>
                         </li>
                         <li>Strategy formulation
                           <ul class="plan__list mt-25px">
                              <li><i class="fas fa-check-circle"></i> 1 week on to one coaching of strategy formulation</li>
                              <li><i class="fas fa-check-circle"></i> Private interaction with our Top pro trader</li>
                          </ul>
                         </li>

                         <li>Included trading tools
                           <ul class="plan__list mt-25px">
                              <li><i class="fas fa-check-circle"></i> Proprietary excel spreadsheet (journal)</li>
                              <li><i class="fas fa-check-circle"></i> Customized trading templates (trading edge)</li>
                              <li><i class="fas fa-check-circle"></i> Funding program (for solicited candidates)</li>
                          </ul>
                         </li>
                         <li>Earn your certificate for completion</li>
                      </ol>
                      
                  </div><!-- end avivon-heading -->
              </div>

               </div><!-- end col-md-8 -->
               <div class="col-md-4">
                   <div class="side-bar">
                       <div class="side__shared mb-30px">
                           <h3 class="side__bar-title">Services</h3>
                           <ul class="side__bar-links">
                               <li>
                                   <a href="{% url 'page:academy' %}">DTT Academny</a>
                                   <span class="fontello icon-angle-double-right"></span>
                               </li>
                                <li>
                                   <a href="{% url 'page:portfolio' %}">Portfolio Management</a>
                                    <span class="fontello icon-angle-double-right"></span>
                               </li>
                           </ul>
                       </div><!-- end side__shared -->
                       <div class="download__btn">
                           <a href="#" class="download__btn-btn">
                               Company brochure <span class="fontello icon-angle-double-right"></span>
                           </a>
                       </div><!-- end download__btn -->
                   </div><!-- end side-bar -->
               </div><!-- end col-md-4 -->
           </div><!-- end row -->
       </div><!-- container -->
   </div><!-- end service-fluid -->
</section>
{% endblock content %}