{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="dtt-page-title-wrap dtt-style-custom dtt-left-align">
    <div class="dtt-header-transparent-substitute"></div>
    <div class="dtt-page-title-overlay"></div>
    <div class="dtt-page-title-container dtt-container">
        <div class="dtt-page-title-content dtt-item-pdlr">
            <div class="dtt-page-caption">Service</div>
            <h1 class="dtt-page-title">DTT Academy</h1>
            <div class="dtt-page-caption-divider"></div>
        </div>
    </div>
</div>
{% comment %} the rest {% endcomment %}
<div class="dtt-page-wrapper" id="dtt-page-wrapper">
   <div class="gdlr-core-page-builder-body">
      <div class="gdlr-core-pbf-wrapper" style="padding: 80px 0px 30px 0px;" id="gdlr-core-wrapper-1">
         <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
               <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first" data-skin="Service Skin" id="gdlr-core-column-58332">
                  <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                     <div class="gdlr-core-pbf-background-wrap"></div>
                     <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                              <div class="gdlr-core-title-item-title-wrap">
                                 <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 28px; font-weight: 600; letter-spacing: 0px; text-transform: none; color: #d32525;">
                                    Our Services<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-custom-menu-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-style-2" style="padding-bottom: 15px; font-size: 19px;">
                              <ul id="menu-services" class="menu">
                                 <li class="menu-item"><a href="{% url 'page:academy' %}">DTT Academy</a></li>
                                 <li class="menu-item"><a href="{% url 'page:portfolio' %}">Portfolio Management</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align" style="margin-bottom: 45px;">
                              <div class="gdlr-core-divider-container" style="max-width: 80px;">
                                 <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #d32525; border-width: 2px;"></div>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                              <a
                                 class="gdlr-core-button gdlr-core-button-gradient gdlr-core-left-align gdlr-core-button-no-border gdlr-core-button-full-width"
                                 href="#"
                                 style="
                                 font-size: 16px;
                                 font-weight: 500;
                                 letter-spacing: 0px;
                                 color: #d32525;
                                 padding: 15px 35px 15px 35px;
                                 text-transform: none;
                                 border-radius: 1px;
                                 -moz-border-radius: 1px;
                                 -webkit-border-radius: 1px;
                                 background: #f5f5f5;
                                 "
                                 >
                              <i class="gdlr-core-pos-left fa fa-file-pdf-o" style="font-size: 16px; color: #d32525;"></i><span class="gdlr-core-content">Company Profile</span>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gdlr-core-pbf-column gdlr-core-column-45" id="gdlr-core-column-98149">
                  <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 10px 0px 0px 20px;">
                     <div class="gdlr-core-pbf-background-wrap"></div>
                     <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 20px;">
                              <div class="gdlr-core-title-item-title-wrap">
                                 <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 44px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #353535;">
                                   DTT Academy<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align gdlr-core-no-p-space" style="padding-bottom: 40px;">
                              <div class="gdlr-core-text-box-item-content" style="font-size: 23px; font-weight: 400; letter-spacing: 0px; text-transform: none; color: #353535;">
                                 <p>The company believes that the future of the business will be determined by the caliber of the people it employs and how well the employees are trained.</p>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align" style="margin-bottom: 40px;">
                              <div class="gdlr-core-divider-container" style="max-width: 120px;">
                                 <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #e8e8e8; border-width: 3px;"></div>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align gdlr-core-no-p-space" style="padding-bottom: 40px;">
                              <div class="gdlr-core-text-box-item-content" style="font-size: 18px; font-weight: 400; letter-spacing: 0px; text-transform: none; color: #525252;">
                                 <p>In determining its recruitment plans the company launched the independent academy. 
The business will continue to look for driven and motivated individuals who are passionate about investments. Due to the fact that financial markets are still a debatable issue in Tanzania, the company decided to take an action in creating the first academy that will nurture novice traders until they reach a professional level.
The company aims to add more value in Tanzania mainly to Undergraduates and the like who tend to lack for potential job hiring after completion studies but face a competitive job market in the current economy. The company does not limit any other party that is determined, willing, motivated and passionate individuals that would love to pursue a career on investing into financial markets. 
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-left-align gdlr-core-item-pdlr" style="padding-bottom: 0px;">
                              <div class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle" style="border-width: 0px; max-width: 372px;">
                                 <img src="{% static 'upload/icon-img002-1.png' %}" alt="" width="800" height="245" title="icon img002" />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="gdlr-core-pbf-wrapper" style="margin-top: 60px; padding: 15px 0px 0px 0px;" id="gdlr-core-wrapper-2">
         <div class="gdlr-core-pbf-background-wrap">
            <div
               class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
               style="background-image: url({% static 'upload/about-2-about-bg.png' %}); background-repeat: no-repeat; background-position: top center;"
               data-parallax-speed="0"
               ></div>
         </div>
         <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
               <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first gdlr-core-hide-in-mobile" id="gdlr-core-column-38316">
                  <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 50px 40px 0px 0px;">
                     <div class="gdlr-core-pbf-background-wrap">
                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-size: cover; background-position: center;" data-parallax-speed="0"></div>
                     </div>
                     <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 50px;">
                              <div class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle" style="border-width: 0px; margin-right: 10px;">
                                 <img src="{% static 'upload/img-001.jpg' %}" alt="" width="900" height="623" title="img 001" />
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-right-align gdlr-core-style-vertical" style="margin-bottom: 0px;">
                              <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #d32525; height: 90px;"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gdlr-core-pbf-column gdlr-core-column-30" id="gdlr-core-column-7419">
                  <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="margin: 0px 0px 110px 0px; padding: 70px 0px 0px 50px;" data-sync-height="height-img">
                     <div class="gdlr-core-pbf-background-wrap"></div>
                     <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js gdlr-core-sync-height-content">
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px;">
                              <span
                                 class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                                 style="font-size: 14px; font-weight: 500; font-style: normal; letter-spacing: 3px; text-transform: uppercase; color: #d32525;"
                                 >
                              <span class="gdlr-core-title-item-left-dot" style="width: 5px; height: 5px; background-color: #d32525; margin-right: 15px;"></span>Our Expertise
                              </span>
                              <div class="gdlr-core-title-item-title-wrap">
                                 <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 44px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #353535;">
                                    We Provide Great Solutions<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-style-1" style="padding-bottom: 5px;">
                              <ul>
                                 <li class="gdlr-core-skin-divider clearfix" style="margin-bottom: 17px;">
                                    <span class="gdlr-core-icon-list-image gdlr-core-left" style="max-width: 35px; margin-top: -2px;">
                                    <img src="{% static 'upload/logo01.png' %}" alt="" width="120" height="120" title="logo01" />
                                    </span>
                                    <div class="gdlr-core-icon-list-content-wrap">
                                       <span class="gdlr-core-icon-list-content" style="color: #1b1b1b; font-size: 19px; font-weight: 500; text-transform: none;">
                                       Our Courses are online videos that you can watch 24 hours
                                       </span>
                                    </div>
                                 </li>
                                 <li class="gdlr-core-skin-divider clearfix" style="margin-bottom: 17px;">
                                    <span class="gdlr-core-icon-list-image gdlr-core-left" style="max-width: 35px; margin-top: -2px;">
                                    <img src="{% static 'upload/logo02.png' %}" alt="" width="120" height="120" title="logo02" />
                                    </span>
                                    <div class="gdlr-core-icon-list-content-wrap">
                                       <span class="gdlr-core-icon-list-content" style="color: #1b1b1b; font-size: 19px; font-weight: 500; text-transform: none;">Webminars, and video cofference mentorship</span>
                                    </div>
                                 </li>
                                 <li class="gdlr-core-skin-divider clearfix" style="margin-bottom: 17px;">
                                    <span class="gdlr-core-icon-list-image gdlr-core-left" style="max-width: 35px; margin-top: -2px;">
                                    <img src="{% static 'upload/logo03.png' %}" alt="" width="120" height="120" title="logo03" />
                                    </span>
                                    <div class="gdlr-core-icon-list-content-wrap">
                                       <span class="gdlr-core-icon-list-content" style="color: #1b1b1b; font-size: 19px; font-weight: 500; text-transform: none;">Great Price Competitive</span>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px;">
         <div class="gdlr-core-pbf-background-wrap">
            <div
               class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
               style="background-image: url({% static 'upload/SVC-bg-black.jpg' %}); background-size: cover; background-position: center;"
               data-parallax-speed="0"
               ></div>
         </div>
         <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
               <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-36170">
                  <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="padding: 165px 0px 155px 0px;">
                     <div class="gdlr-core-pbf-background-wrap"></div>
                     <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js" style="max-width: 750px;">
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" style="margin-bottom: 70px;">
                              <div class="gdlr-core-divider-container" style="max-width: 180px;">
                                 <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #d5d5d5;"></div>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px;">
                              <div class="gdlr-core-title-item-title-wrap">
                                 <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 37px; font-weight: 600; letter-spacing: 0px; text-transform: none; color: #ffffff;">
                                    Let’s discuss about how we can help make you in mastering financial marketing<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                 </h3>
                              </div>
                           </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                           <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" style="padding-bottom: 0px;">
                              <a
                                 class="gdlr-core-button gdlr-core-button-gradient gdlr-core-center-align gdlr-core-button-no-border"
                                 href="#"
                                 style="
                                 font-size: 16px;
                                 font-weight: 700;
                                 letter-spacing: 0px;
                                 color: #ffffff;
                                 padding: 3px 33px 3px 33px;
                                 text-transform: none;
                                 border-radius: 28px;
                                 -moz-border-radius: 28px;
                                 -webkit-border-radius: 28px;
                                 background: #d32525;
                                 "
                                 >
                              <span class="gdlr-core-content">Contact Us</span><i class="gdlr-core-pos-right ion-ios-arrow-thin-right" style="font-size: 31px; color: #ffffff;"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% comment %} end {% endcomment %}
{% endblock content %}