
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The first proprietary trading firm in Tanzania <br> Your trusted financial trading partner in all conditions.">
    <meta name="keywords" content="	advisor, business, consultant, consulting, corporate,  finance, financial, law firm, institutions, organizations , html5">
    <title>DTT - Trade what you see</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.svg' %}">



    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">

    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnificpopup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- endinject -->

</head>
<body>
<!-- page preloader -->
<div id="loading-area">
    <div class="three col">
        <div class="loader" id="loader-1"></div>
    </div>
</div><!-- end loading -->

<div class="body-overlay"></div><!-- end body-overlay -->
<div class="offcanvas-menu">
    <div class="menu__close"></div><!-- end menu__close -->
    <ul class="off__menu">
        <li><a href="{% url 'page:home' %}">Home</a></li>
        <li><a href="{% url 'page:about' %}">About us</a></li>
        <li class="menu__title-only">What we do <i class="fas fa-angle-down"></i></li>
        <li><a href="{% url 'page:academy' %}">DTT Academy</a></li>
        <li><a href="{% url 'page:portfolio' %}">Portfolio Management</a></li>
        <li><a href="{% url 'blog:list' %}">Blog</a></li>
        <li>
            <a href="{% url 'page:contact' %}">Contact Us</a>
        </li>
    </ul>
</div><!-- end offcanvas-menu -->
<!-- ================================
        START MENU AREA
================================= -->
<section class="menu-area">
    <div class="top-menu-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-full-width">
                        <div class="logo-box">
                            <div class="site-open">
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                            </div><!-- end site-open -->
                            <div class="logo">
                                <a href="{% url 'page:home' %}" title="Avivon"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                            </div><!-- end logo -->
                        </div><!-- end logo-box -->
                        <div class="main-menu">
                            <nav class="menu__wrapper">
                                <ul class="dropdown-main">
                                    <li><a href="{% url 'page:home' %}">Home</a></li>
                                    <li><a href="{% url 'page:about' %}">About us</a></li>
                                    <li>
                                        <a href="#">What we do</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="{% url 'page:academy' %}">DTT Academy</a></li>
                                                <li><a href="{% url 'page:portfolio' %}">Portfolio Management</a></li>
                                            </ul>
                                        </div><!-- end main__dropdown-menu -->
                                    </li>
                                    <li><a href="{% url 'blog:list' %}">Blog</a></li>
                                    <li>
                                        <a href="{% url 'page:contact' %}">Contact Us</a>
                                    </li>
                                </ul>
                            </nav><!-- end menu__wrapper -->
                            <div class="logo-right-button">
                                <div class="lang-dropdown">
                                    <ul>
                                        <li>
                                            <a href="{% url 'login' %}">
                                                Client Portal
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- end lang-dropdown -->
                                <div class="contact-para">
                                    <p><a href="mailto:info@dtt.co.tz">info@dtt.co.tz</a></p>
                                    <!-- <span class="fa fa-envelope fa-1x"></span> -->
                                </div><!-- end contact-para -->
                            </div><!-- end logo-right-button -->
                        </div><!-- end main-menu -->
                    </div><!-- end menu-full-width -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end top-menu-area -->
</section><!-- end menu-area -->
<!-- ================================
            END MENU AREA
================================= -->
{% block content %}
  
{% endblock content %}
<!--================================
       START FOOTER AREA
=================================-->
<section class="footer-area responsive-content theme-bg-dark">
    <div class="footer-fluid">
        <div class="container">
            <div class="row footer-list">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-shared rpd-content">
                        <div class="footer__title">
                            <h3 class="footer__title-title">our address</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <ul>
                                <li>
                                    <a href="tel:+255748100253"><i class="fas fa-phone-square"></i> +255 748 100 253</a>
                                </li>
                                <li>
                                    <a href="mailto:info@dtt.co.tz"><i class="fas fa-envelope"></i>
                                        info@dtt.co.tz</a>
                                </li>
                                <li>
                                    <p class="add__para-desc"><i class="fas fa-map"></i>C&G Plaza, Warioba, Mwai Kibaki Rd, Dar es Salaam</p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-3 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">extra links</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links menu__links clearfix">
                            <ul class="ftp__menu-links pull-left">
                                <li><a href="about-us1.html">about</a></li>
                                <li><a href="#">careers</a></li>
                                <li><a href="#">our team</a></li>
                                <li><a href="#">approach</a></li>
                            </ul>
                            <ul class="ftp__menu-links ftp__menu--links pull-left">
                                <li><a href="#">services</a></li>
                                <li><a href="#">locations</a></li>
                                <li><a href="#">clients</a></li>
                                <li><a href="#">help</a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">sign up for email alerts</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <div class="ftp__form-subs">
                                <p class="ftp__links-desc__desc">subscribe for latest articles and resources</p>
                                <form action="#">
                                    <input type="email" placeholder="enter email">
                                    <button class="email__subscriber-btn"><i class="fas fa-envelope"></i></button>
                                </form>
                            </div><!-- end ftp__form-subs -->
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-5 -->
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-shared">
                        <div class="col-md-8 no-padding-lr">
                            <p class="copy__desc">&copy;copyright {% now "Y" %} Developed by <a href="mailto:info@neotelabs.com">Neotelabs</a></p>
                        </div><!-- end col-md-8 -->
                        <div class="col-md-4 text-right no-padding-lr">
                            <ul class="copy__links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div><!-- end col-md-4 -->
                    </div><!-- end copyright-shared -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end footer-fluid -->
</section><!-- end footer-area -->
<!--================================
       END FOOTER AREA
=================================-->

<!-- start scroll top --->
<div id="scroll-top">
    <i class="fas fa-arrow-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/magnificpopup.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


<!-- Slider Revolution core JavaScript files -->
<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'js/rev-slider-script-2.js' %}"></script>
<script>

    // counter up
    $('.counter').counterUp({
        delay: 50,
        time: 5000
    });

</script>
</body>
</html>