{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section class="trusted-area breadcrumb-area text-center">
    <div class="trusted-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trusted-content">
                        <div class="trusted__title">
                            <ul class="bread__rumb-item">
                                <li class="active-item"><a href="{% url 'page:home' %}">home</a></li>
                                <li>contact</li>
                            </ul>
                            <h2 class="trusted__title-title">contact us</h2>
                        </div><!-- end trusted__title -->
                    </div><!-- end trusted-content -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end trusted-fluid -->
</section>

<section class="contact-area responsive-content area-padding">
    <div class="contact-fluid">
        <div class="container contact-info avivon-pb">
            <div class="row">
                <div class="col-md-4 primary-padding">
                    <div class="avivon-heading">
                        <h2 class="avivon__title">feel free to write us a message</h2>
                    </div><!-- end avivon-heading -->
                </div><!-- end col-md-4 -->
                <div class="col-md-8">
                    <div class="comment__form contact__form">
                        <form action="#">
                            <div class="input__box-input">
                                <input type="text" placeholder="your name">
                            </div>
                            <div class="input__box-input email-box">
                                <input type="email" placeholder="email address">
                            </div>
                            <textarea name="message" placeholder="message"></textarea>
                            <button class="submit__btn-btn">send message
                                <span class="fontello icon-angle-double-right"></span>
                            </button>
                        </form>
                    </div><!-- end comment__form -->
                </div><!-- end col-md-8 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end contact-fluid -->
</section>

<div class="mt-60px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.1102741389846!2d39.24502091543107!3d-6.756405067947318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4d1d4681b1df%3A0xaf1eb998f8042ff0!2sDAY%20TRADING%20TANZANIA%20(DTT)!5e0!3m2!1sen!2stz!4v1636635284272!5m2!1sen!2stz" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% endblock content %}