{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="dtt-page-wrapper" id="dtt-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper" style="padding: 370px 0px 160px 0px;" data-skin="white"
            id="gdlr-core-wrapper-1">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #383838;">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="opacity: 0.4; background-image: url({% static 'images/breadcum/page-title-3.jpg' %}); background-size: cover; background-position: center;"
                    data-parallax-speed="0.3"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js" data-gdlr-animation="fadeInUp"
                data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div
                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr">
                            <div class="gdlr-core-title-item-title-wrap">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                    style="font-size: 75px; font-weight: 600; letter-spacing: 0px; text-transform: none; color: #ffffff;">
                                    Contact Us<span
                                        class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                </h3>
                            </div>
                            <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                                style="font-size: 25px; font-style: normal; color: #ffffff; margin-top: 15px;">Get
                                Intouch</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper" style="padding: 30px 0px 50px 0px;">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #f9f9f9;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                            style="padding: 50px 20px 0px 20px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                                        style="padding-bottom: 25px;">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                                style="font-size: 37px; font-weight: 700; letter-spacing: 0px; text-transform: none;">
                                                Leave us your info <span
                                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 35px;">
                                        <div class="gdlr-core-text-box-item-content" style="text-transform: none;">
                                            <p>
                                                A wonderful serenity has taken possession of my entire soul, like these
                                                sweet mornings of spring which I enjoy with my whole heart. I am alone,
                                                and feel the charm of existence
                                                in this spot, which was created for the bliss of souls like mine.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-contact-form-7-item gdlr-core-item-pdlr gdlr-core-item-pdb">
                                        <div role="form" class="wpcf7" id="wpcf7-f1979-p1977-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response">
                                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                <ul></ul>
                                            </div>
                                            <form method="post" action="contactform/contactengine.php">

                                                <input type="text" name="Name" id="Name" placeholder="Name:"
                                                    class="input" />

                                                <input type="text" name="City" id="City" placeholder="City:"
                                                    class="input" />

                                                <input type="text" name="Email" id="Email" placeholder="Email:"
                                                    class="input" />

                                                <textarea name="Message" rows="20" cols="20" id="Message"
                                                    placeholder="Message:" class="input"></textarea>

                                                <input type="submit" name="submit" value="Submit"
                                                    class="submit-button" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                            style="padding: 50px 20px 0px 20px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                                        style="padding-bottom: 25px;">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                                style="font-size: 25px; font-weight: 700; letter-spacing: 0px; text-transform: none;">
                                                Location<span
                                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                        style="padding-bottom: 10px;">
                                        <div class="gdlr-core-text-box-item-content" style="text-transform: none;">
                                            <p>
                                               C & G Plaza <br />
                                                Mikiocheni
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-style-1">
                                        <ul>
                                            <li class="gdlr-core-skin-divider clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left"><i
                                                        class="gdlr-core-icon-list-icon fa fa-envelope-o"
                                                        style="font-size: 19px; width: 19px;"></i></span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 18px;">
                                                        <a href="mailto:info@dtt.co.tz" class="__cf_email__"
                                                            data-cfemail="23404c4d57424057634a4d454a4d4a57465453574b464e460d404c4e">info@dtt.co.tz</a>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="gdlr-core-skin-divider clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left"><i
                                                        class="gdlr-core-icon-list-icon fa fa-phone"
                                                        style="font-size: 19px; width: 19px;"></i></span>
                                                <div class="gdlr-core-icon-list-content-wrap"><span
                                                        class="gdlr-core-icon-list-content"
                                                        style="font-size: 18px;">+255 748 100 253</span></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                                        style="padding-bottom: 25px;">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                                style="font-size: 25px; font-weight: 700; letter-spacing: 0px; text-transform: none;">
                                                Map<span
                                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-wp-google-map-plugin-item gdlr-core-item-pdlr gdlr-core-item-pdb"
                                        style="padding-bottom: 0px;">

                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.1102741389846!2d39.24502091543107!3d-6.756405067947318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4d1d4681b1df%3A0xaf1eb998f8042ff0!2sDAY%20TRADING%20TANZANIA%20(DTT)!5e0!3m2!1sen!2stz!4v1636635284272!5m2!1sen!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper" style="padding: 75px 0px 75px 0px;">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #ffffff;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js" data-gdlr-animation="fadeInUp"
                data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                            style="padding-bottom: 0px;">
                            <a href="/cdn-cgi/l/email-protection#f9da" target="_blank"
                                class="gdlr-core-social-network-icon" title="email"
                                style="font-size: 20px; color: #232323;"><i class="fa fa-envelope"></i></a>
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook"
                                style="font-size: 20px; color: #232323; margin-left: 37px;"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus"
                                style="font-size: 20px; color: #232323; margin-left: 37px;"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin"
                                style="font-size: 20px; color: #232323; margin-left: 37px;"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"
                                style="font-size: 20px; color: #232323; margin-left: 37px;"><i
                                    class="fa fa-skype"></i></a>
                            <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter"
                                style="font-size: 20px; color: #232323; margin-left: 37px;"><i
                                    class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}