{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px;">
   <div class="gdlr-core-pbf-background-wrap"></div>
   <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
      <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
         <div class="welcome-message">
            <div class="container">
               <div class="intro-message">
                  <h1 class="text-uppercase">Day Trading Tanzania <br></h1>
                  <p>Every day, our team solves quantitative and technical </br>problems to create and capture new
                     opportunities.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<section class="about-dtt">
   <div class="d-flex flex-row">
      <div class="col">
         <img src="{% static 'images/ce.jpg' %}" alt="into-image">
      </div>
      <div class="col content">
         <h2>Code <br /><span>Research</span> <br />Exproler</h2>
         <p>Our team develops and deploys trading strategies bringing a scientific approach to trading, while utilizing
            our sophisticated research platform and development environment to continuously produce, optimize and
            execute trading alphas.</p>
      </div>
   </div>
</section>

<section class="values-dtt">
   <div class="d-flex flex-row">
      <div class="col content">
         <h2 class="heading">innovation <br><span>collaboration</span><br>excellence</h2>
         <p>Our company culture is a crucial asset. We’re ambitious, hardworking, and take every opportunity to learn
            from each other.</p>
      </div>
      <div class="col mr-30"><img src="{% static 'images/ce.jpg' %}" alt="into-image"></div>
      <div class="col"><img src="{% static 'images/ce.jpg' %}" alt="into-image"></div>
   </div>
</section>

<section class="cta">
   <div class="container">
      <div class="banner">
         <div class="banner__inner">
            <div class="banner__title text-uppercase">Career</div>
            <div class="banner__text">Like to collaborate with some of the best minds in the industry, strive for
               excellence and enjoy a stimulating environment?
            </div>
            <a href="" class="banner__subtext">Start the conversation with us today.</a>
         </div>
      </div>
   </div>
</section>

{% endblock content %}