{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 0px 0px;">
   <div class="gdlr-core-pbf-background-wrap"></div>
   <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
      <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
         <div class="welcome-message">
            <div class="container">
               <div class="intro-message">
                  <h1 class="text-uppercase">Day Trading Tanzania <br></h1>
                  <p>The first proprietary trading firm in Tanzania
Your trusted financial trading partner in all conditions. 
</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<section class="about-dtt">
   <div class="row">
      
      <div class="col-md-6 content order-md-1">
         <h2>Investing <br /><span>Trading</span> <br />Returns</h2>
         <p>Our firm employs different quantitative investment strategies including index arbitrage, 
         statistical arbitrage, Risk arbitrage, fundamental analysis, 
         volatility arbitrage, technical analysis and global macro trading to deliver consistent returns. </p>
      </div>

      <div class="col-md-6 order-md-2">
         <img src="{% static 'images/ce.jpg' %}" alt="into-image">
      </div>
   </div>
</section>

<section class="values-dtt">
   <div class="row">
      <div class="col-md-4 content">
         <h2>Recruit <br><span>Educate</span><br>Employ</h2>
         <p>The company always recruits driven and motivated individuals who are from a variety backgrounds and are passionate about investments. This is done via DTT academy where the best candidates will be solicited & offered all trading infrastructures, investment capital and a collaborative trading environment. </p>
      </div>
      <div class="col-md-4"><img src="{% static 'images/ce.jpg' %}" alt="into-image"></div>
      <div class="col-md-4"><img src="{% static 'images/ce.jpg' %}" alt="into-image"></div>
   </div>
</section>

<section class="cta">
   <div class="container">
      <div class="banner">
         <div class="banner__inner">
            <div class="banner__title text-uppercase">Career</div>
            <div class="banner__text">Like to collaborate with some of the best minds in the industry, strive for
               excellence and enjoy a stimulating environment?
            </div>
            <a href="" class="banner__subtext">Start the conversation with us today.</a>
         </div>
      </div>
   </div>
</section>

{% endblock content %}