{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<!--================================
         START REV SLIDER AREA
=================================-->
<section class="slider-area slider-area-3">
   <div class="trusted-fluid">
       <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery">
           <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
           <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" data-version="5.4.1">
               <ul>	<!-- SLIDE  -->
                   <li data-index="rs-3045" data-transition="boxfade" data-slotamount="default"
                       data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                       <!-- MAIN IMAGE -->
                       <img src="{% static 'images/home3-slidebg-1.jpg' %}"  alt=""  data-bgposition="center center"
                            data-bgfit="cover"
                            data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                       <!-- LAYERS -->

                       <div class="tp-caption tp-resizeme"
                            id="slide-3045-layer-1"
                            data-x="['center','center','center','center']"
                            data-hoffset="0 0 0 0"
                            data-y="['middle','middle','middle','middle']"
                            data-voffset="['-30','-30','-30','-30']"
                            data-fontsize="['100','100','70','70']"
                            data-lineheight="['90', '90', '70', '70']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"

                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 8; white-space: nowrap;">
                          <h2 class="slide__title">Proprietary trading firm</h2>
                       </div><!-- end tp-caption -->

                       <!-- LAYER NR. 3 -->
                       <div class="tp-caption tp-resizeme"
                            id="slide-3045-layer-3"
                            data-x="['center','center','center','center']"
                            data-hoffset="0 0 0 0"
                            data-y="['middle','middle','middle','middle']"
                            data-voffset="['170', '170', '170', '170']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-fontsize="['20','20','16','16']"
                            data-lineheight="['34', '34', '34', '34']"
                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 9; white-space: nowrap;">
                           <p class="slide__desc">
                              The first proprietary trading firm in Tanzania <br> Your trusted financial trading partner in all conditions.


                           </p>
                       </div><!-- end tp-caption -->

                       <!-- LAYER NR. 3 -->
                       <div class="tp-caption tp-resizeme"
                            id="slide-3045-layer-4"
                            data-x="['center','center','center','center']"
                            data-hoffset="0 0 0 0"
                            data-y="['middle','middle','middle','middle']"

                            data-voffset="['262', '262', '262', '262']"

                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"

                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 9; white-space: nowrap;">
                           <a href="#" class="get-btn">
                               get started <span class="fontello icon-angle-double-right"></span>
                           </a>
                       </div><!-- end tp-caption -->
                   </li>
               </ul>
               <div class="tp-bannertimer tp-bottom"></div>
           </div><!-- end fullwidthabanner -->
       </div><!-- END REVOLUTION SLIDER -->
   </div><!-- end trusted-fluid -->
</section><!-- end rev-slider-2 -->
<!--================================
     END REV SLIDER   AREA
=================================-->
<section class="offer-area offer-bg">
   <div class="offer-fluid">
       <div class="container-fluid">
           <div class="row offer-content">
               <div class="col-md-4 no-padding-lr">
                   <div class="offer-quote">
                       <blockquote class="opr-block">
                           <p class="quote__para">
                               If we truly know and understand how your business works,
                               we will be able to deliver the right creative solutions
                               that will make a big difference. Because in the
                               end our ideas only matter.</p>
                           <h3 class="quote__sign">Keneth Lehada</h3>
                           <span class="quote__span">founder of DTT</span>
                       </blockquote>
                   </div><!-- end offer-quote -->
               </div><!-- end col-md-4 -->
               <div class="col-md-8 offer-list-box">
                   <div class="offer-list">
                       <div class="avivon-heading">
                           <h2 class="avivon__title">
                               we offer marketing and consulting <br>
                               services for businesses</h2>
                       </div><!-- end avivon-heading -->
                       <div class="offer-item clearfix">
                           <div class="same-offer">
                               <div class="offer__icon">
                                   <span class="fontello icon-human-resources"></span>
                               </div><!-- end offer__icon -->
                               <div class="offer__title">
                                   <h3>DTT Academy</h3>
                               </div><!-- end offer__title -->
                               <div class="offer__des">
                                   <p>sed quia lipsum dolor sit atur adipiscing elit is
                                      nunc quis tellus sed ligula porta ultricies
                                      quis nec nec magna neulla.
                                   </p>
                               </div><!-- end offer__des -->
                               <div class="offer__btn">
                                   <a href="service1.html" class="offer__btn-btn">
                                       read more <span class="fontello icon-angle-double-right"></span>
                                   </a>
                               </div><!-- end offer__des -->
                           </div><!-- end same-offer -->
                           <div class="same-offer">
                               <div class="offer__icon">
                                   <span class="fontello icon-exploration"></span>
                               </div><!-- end offer__icon -->
                               <div class="offer__title">
                                   <h3>Portfolio Management</h3>
                               </div><!-- end offer__title -->
                               <div class="offer__des">
                                   <p>sed quia lipsum dolor sit atur adipiscing elit is
                                      nunc quis tellus sed ligula porta ultricies
                                      quis nec nec magna neulla.
                                   </p>
                               </div><!-- end offer__des -->
                               <div class="offer__btn">
                                   <a href="service1.html" class="offer__btn-btn">
                                       read more <span class="fontello icon-angle-double-right"></span>
                                   </a>
                               </div><!-- end offer__des -->
                           </div><!-- end same-offer -->
                       </div><!-- end offer-item -->
                   </div><!-- end offer-list -->
               </div><!-- end col-md-8 -->
           </div><!-- end row -->
       </div><!-- container-fluid -->
   </div><!-- end offer-fluid -->
</section>

<section class="choose-area responsive-content choose--area avivon-pt section-pb text-center">
   <div class="choose-fluid">
       <div class="container">
           <div class="row">
               <div class="col-md-12 primary-padding">
                   <div class="avivon-heading">
                       <h2 class="avivon__title fourth__title">making differences</h2>
                   </div><!-- end avivon-heading -->
               </div><!-- end col-md-12 -->
           </div><!-- end row -->
           <div class="row choose-content section-pb">
               <div class="col-md-4 col-sm-6 col-xs-12">
                   <div class="choose-same">
                       <div class="choose__icon">
                           <span class="fontello icon-chart"></span>
                       </div><!-- end choose__icon -->
                       <div class="choose__title">
                           <h3>business growth</h3>
                       </div><!-- end choose__title -->
                       <div class="choose__desc">
                           <p>sed quia magni dolores eos qui
                              ratione voluptatem sequi
                              nesciunt eque porro.</p>
                       </div><!-- end choose__desc -->
                   </div><!-- end choose-same -->
               </div><!-- end col-md-4 -->
               <div class="col-md-4 col-sm-6 col-xs-12">
                   <div class="choose-same">
                       <div class="choose__icon">
                           <span class="fontello icon-exploration"></span>
                       </div><!-- end choose__icon -->
                       <div class="choose__title">
                           <h3>finance advice</h3>
                       </div><!-- end choose__title -->
                       <div class="choose__desc">
                           <p>sed quia magni dolores eos qui
                              ratione voluptatem sequi
                              nesciunt eque porro.</p>
                       </div><!-- end choose__desc -->
                   </div><!-- end choose-same -->
               </div><!-- end col-md-4 -->
               <div class="col-md-4 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0">
                   <div class="choose-same rpl-content">
                       <div class="choose__icon">
                           <span class="fontello  icon-options"></span>
                       </div><!-- end choose__icon -->
                       <div class="choose__title">
                           <h3>global solution</h3>
                       </div><!-- end choose__title -->
                       <div class="choose__desc">
                           <p>sed quia magni dolores eos qui
                              ratione voluptatem sequi
                              nesciunt eque porro.</p>
                       </div><!-- end choose__desc -->
                   </div><!-- end choose-same -->
               </div><!-- end col-md-4 -->
           </div><!-- end row -->
           <div class="row">
               <div class="col-md-12 choose-box">
                   <div class="choose-popup">
                       <img src="{% static 'images/service14.jpg' %}" alt="choose image">
                       <p class="offer__desc mt-50px mb-50px">
                           tincidunt elit magnis nulla facilisis sagittis
                           maecenas.
                           sapien nunc amet ultrices, dolores sit ipsum velit
                           purus aliquet, massa fringilla leo orci. lorem ipsum
                           dolors sit amet elit magnis amet ultrices purus aliquet.
                       </p>
                   </div><!-- end choose-popup -->
               </div><!-- end col-md-12 -->
           </div><!-- end row -->
       </div><!-- container -->
   </div><!-- end choose-fluid -->
</section>
<section class="meet-area area-padding theme-bg-main">
   <div class="meet-fluid">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="meet-heading text-center">
                       <h2 class="avivon__title">Do you have a question?</h2>
                       <p class="avivon__desc">
                           We know the importance of delivering the best <br>
                            customer experience.</p>
                       <a href="contact.html" class="meet__btn">get started
                           <span class="fontello icon-angle-double-right"></span>
                       </a>
                   </div><!-- end meet-heading -->
               </div><!-- end col-md-12 -->
           </div><!-- end row -->
       </div><!-- container -->
   </div><!-- end meet-fluid -->
</section>
{% endblock content %}