{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section class="trusted-area breadcrumb-area text-center">
    <div class="trusted-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trusted-content">
                        <div class="trusted__title">
                            <ul class="bread__rumb-item">
                                <li class="active-item"><a href="{% url 'page:home' %}">home</a></li>
                                <li>services</li>
                            </ul>
                            <h2 class="trusted__title-title">Portfolio Management
                            </h2>
                        </div><!-- end trusted__title -->
                    </div><!-- end trusted-content -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end trusted-fluid -->
</section>

<section class="single-area responsive-content area-padding">
    <div class="service-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="single-content single--content">
                        <div class="avivon-heading">
                            <h2 class="avivon__title">Portfolio Management</h2>
                            <p class="avivon__desc audit-title mt-30px mb-40px">Throughout the financial market industry
                                portfolio management has always been at the core of most financial institution managers’
                                investment strategies. In the post-2008 environment the capabilities of a manager’s
                                portfolio management solution have been a key differentiator in their ability to
                                generate healthy returns for their investors.
                                <br><br>
                                This will intensify in the future whereby a number of factors are coming together in the
                                industry to increase the importance of portfolio management in financial institutions.
                                The events of 2008(also called the subprime mortgage crisis which threatened to destroy
                                the international financial system), where many investors found themselves gated or
                                side-pocketed in hedge funds, have increased the demand for structures that offer more
                                liquidity and which can provide superior portfolio reporting to their investors
                                <br><br>
                                Investors have frequently been disappointed with returns from alternative investment
                                funds over the last decade. These funds have sometimes performed worse than expected.
                                This is why Day trading Tanzania will survive and prosper in the future since we have a
                                portfolio management solution at the center of our core competencies (alongside
                                research, asset allocation and risk management).


                            </p>
                        </div><!-- end avivon-heading -->
                    </div><!-- end single-content -->

                    <div class="single-content single--content">
                        <div class="avivon-heading">
                            <h2 class="avivon__title">Our Asset allocation
                            </h2>
                            <p class="avivon__desc audit-title mt-30px mb-40px">Since the inception of the funds, DTT
                                has invested in Currencies, Stock indices, Crypto currencies and futures which offer
                                asymmetric payoffs in the event of the occurrence of low probability catastrophic or
                                otherwise unanticipated negative events.
                            </p>
                        </div><!-- end avivon-heading -->
                    </div><!-- end single-content -->

                    <div class="single-content single--content">
                        <div class="avivon-heading">
                            <h2 class="avivon__title">Our risk management approach
                            </h2>
                            <p class="avivon__desc audit-title mt-30px mb-40px">In order to monitor risk related to
                                portfolio manager's activities, the board receives a report from the head of trade at
                                each quarterly board meeting or more frequently, as necessary, on developments and risks
                                relating to portfolio positions, activities engagements, financial instruments used in
                                the portfolio and the portfolio composition as a whole.</p>
                        </div><!-- end avivon-heading -->
                    </div><!-- end single-content -->

                    <div class="single-content single--content">
                        <div class="avivon-heading">
                            <h3>Risk related to investment activities</h3>
                            <p class="avivon__desc audit-title mt-30px mb-40px">With respect to the concentration of the
                                company's portfolio, the board acknowledges that there are numerous risks associated
                                with having a highly concentrated portfolio and that the primary risk management tool
                                used by the portfolio manager is the extensive research performed by the investment team
                                prior to investment., along with the ongoing monitoring of the positions held in the
                                company's portfolio.</p>
                        </div>
                    </div>

                    <div class="single-content single--content">
                        <div class="avivon-heading">
                            <h3>Market risk</h3>
                            <p class="avivon__desc audit-title mt-30px mb-40px">Adverse changes affecting the global financial markets and economy as a whole may have a material negative impact on the performance of the company’s portfolios. In order to mitigate market-related downside risk the company diversifies its investment in financial assets for a more long-term maturity period and seek to offset any risk that can affect the company in the short term.

                            </p>
                        </div>
                    </div>


                </div><!-- end col-md-8 -->
                <div class="col-md-4">
                    <div class="side-bar">
                        <div class="side__shared mb-30px">
                            <h3 class="side__bar-title">Services</h3>
                            <ul class="side__bar-links">
                                <li>
                                    <a href="{% url 'page:academy' %}">DTT Academny</a>
                                    <span class="fontello icon-angle-double-right"></span>
                                </li>
                                <li>
                                    <a href="{% url 'page:portfolio' %}">Portfolio Management</a>
                                    <span class="fontello icon-angle-double-right"></span>
                                </li>
                            </ul>
                        </div><!-- end side__shared -->
                        <div class="download__btn">
                            <a href="#" class="download__btn-btn">
                                Company brochure <span class="fontello icon-angle-double-right"></span>
                            </a>
                        </div><!-- end download__btn -->
                    </div><!-- end side-bar -->
                </div><!-- end col-md-4 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end service-fluid -->
</section>
{% endblock content %}