{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="dtt-page-title-wrap dtt-style-custom dtt-left-align">
    <div class="dtt-header-transparent-substitute"></div>
    <div class="dtt-page-title-overlay"></div>
    <div class="dtt-page-title-container dtt-container">
        <div class="dtt-page-title-content dtt-item-pdlr">
            <div class="dtt-page-caption">Service</div>
            <h1 class="dtt-page-title">Portfolio Management</h1>
            <div class="dtt-page-caption-divider"></div>
        </div>
    </div>
</div>
{% comment %} the rest {% endcomment %}
<div class="dtt-page-wrapper" id="dtt-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper" style="padding: 80px 0px 30px 0px;" id="gdlr-core-wrapper-1">
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first"
                        data-skin="Service Skin" id="gdlr-core-column-58332">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                                style="font-size: 28px; font-weight: 600; letter-spacing: 0px; text-transform: none; color: #d32525;">
                                                Our Services<span
                                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-custom-menu-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-style-2"
                                        style="padding-bottom: 15px; font-size: 19px;">
                                        <ul id="menu-services" class="menu">
                                            <li class="menu-item"><a href="{% url 'page:academy' %}">DTT Academy</a>
                                            </li>
                                            <li class="menu-item"><a href="{% url 'page:portfolio' %}">Portfolio
                                                    Management</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align"
                                        style="margin-bottom: 45px;">
                                        <div class="gdlr-core-divider-container" style="max-width: 80px;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                                style="border-color: #d32525; border-width: 2px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <a class="gdlr-core-button gdlr-core-button-gradient gdlr-core-left-align gdlr-core-button-no-border gdlr-core-button-full-width"
                                            href="#" style="
                                 font-size: 16px;
                                 font-weight: 500;
                                 letter-spacing: 0px;
                                 color: #d32525;
                                 padding: 15px 35px 15px 35px;
                                 text-transform: none;
                                 border-radius: 1px;
                                 -moz-border-radius: 1px;
                                 -webkit-border-radius: 1px;
                                 background: #f5f5f5;
                                 ">
                                            <i class="gdlr-core-pos-left fa fa-file-pdf-o"
                                                style="font-size: 16px; color: #d32525;"></i><span
                                                class="gdlr-core-content">Company Profile</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-45" id="gdlr-core-column-98149">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                            style="padding: 10px 0px 0px 20px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                        style="padding-bottom: 20px;">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                                style="font-size: 44px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #353535;">
                                                Portfolio Management<span
                                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align gdlr-core-no-p-space"
                                        style="padding-bottom: 40px;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 18px; font-weight: 400; letter-spacing: 0px; text-transform: none; color: #353535;">
                                            <p>Throughout the financial market industry portfolio management has always
                                                been at the core of most financial institution managers’ investment
                                                strategies.
                                                In the post-2008 environment the capabilities of a manager’s portfolio
                                                management solution have been a key differentiator in their ability to
                                                generate healthy returns for their investors. This will intensify
                                                in the future a number of factors are coming together in the industry to
                                                increase the importance of portfolio management in financial
                                                institutions.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align"
                                        style="margin-bottom: 40px;">
                                        <div class="gdlr-core-divider-container" style="max-width: 120px;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                                style="border-color: #e8e8e8; border-width: 3px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align gdlr-core-no-p-space"
                                        style="padding-bottom: 40px;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #525252;">
                                            <p>The events of 2008 (also called the subprime mortgage crisis which
                                                threatened to destroy the international financial system), where many
                                                investors found
                                                themselves gated or side-pocketed in hedge funds, have increased the
                                                demand for structures that offer more liquidity and which can provide
                                                superior portfolio
                                                reporting to their investors <br><br>
                                                Investors have frequently been disappointed with returns from
                                                alternative investment funds over the last decade. These funds have
                                                sometimes performed worse than
                                                expected.
                                                This is why Day trading Tanzania will survive and prosper in the future
                                                since we have a portfolio management solution at the center of our core
                                                competencies (alongside research, asset allocation and risk management).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content"
                                        style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #525252;">
                                        <h5>Our Asset allocation</h5>
                                        <p>Since the inception of the funds, we have invested in Currencies, Stock
                                            indices,
                                            Crypto currencies and futures which offer asymmetric payoffs in the event of
                                            the occurrence of low-probability catastrophic
                                            or otherwise unanticipated negative events. <br><br>

                                            Because we cannot predict the economic cycles with precision, we look for
                                            asset classes which are capitalized
                                            to withstand difficult economic times or even the normal ups and downs of
                                            any financial changes to the world economy.
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content"
                                        style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #525252;">
                                        <h6>Currencies (forex)</h6>
                                        <p>The currency market, or forex (FX), is the largest investment market in the
                                            world and continues to grow annually. On April 2010, the forex market
                                            reached $4 trillion in daily average turnover, an increase of 20% since
                                            2007.

                                            Forex exchanges allow for 24/7 trading in currency pairs, making it the
                                            world's largest and most liquid asset market. Day trading Tanzania has
                                            incepted 25% of its investment in this asset class which is expected to
                                            reach our first milestone in the year 2024.
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content"
                                        style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #525252;">
                                        <h6>Stock indices</h6>
                                        <p>A stock market index is a section of stocks in a market. It is used by
                                            traders and economists to compare returns on different assets,
                                            to track the overall economy or as an investment vehicle. Among the most
                                            common types of indexes include global indices,
                                            regional indices and national indices. Some of the most heavily traded live
                                            Indices markets include:
                                        </p>
                                        <ul>
                                            <li><strong>The FTSE 100</strong> – Sometimes called the ‘UK 100,’ this
                                                represents the UK’s hundred biggest companies by market capital</li>
                                            <li><strong>Dow Jones</strong> – Often referred to as simply ‘Wall Street’
                                                this comprises 30 of the US’ biggest publicly owned companies</li>
                                            <li><strong>The DAX</strong> – Referred to as the ‘Germany 30,’ this index
                                                is made up of 30 major German companies </li>
                                            <li><strong>Nikkei 225</strong> – Japan’s biggest price-weighted index is
                                                comprised of 225 of the country’s biggest companies</li>
                                        </ul>
                                    </div>
                                </div>

                                <div
                                    class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content"
                                        style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #525252;">
                                        <h6>Crypto currencies</h6>
                                        <p>A cryptocurrency is a digital or virtual currency that is secured by
                                            cryptography, which makes it nearly impossible to counterfeit or
                                            double-spend. Many cryptocurrencies are decentralized networks based on
                                            blockchain technology—a distributed ledger enforced by a disparate network
                                            of computers. <br><br>
                                            As many as 17% of the survey's 100 respondents expect more than 10% of their
                                            portfolios to be allocated to crypto in 2026, the funds surveyed manage an
                                            average of $7.2 billion in assets. North American funds predict their crypto
                                            exposure will be 10.6%, while those in the U.K. and Europe forecast 6.8%.
                                            If you invest $10,000 in bitcoin today and its value appreciates, say up to
                                            $11,000, you stand to make a profit because bitcoin is a digital financial
                                            asset. But if its value dips to below $10,000, you will make a loss if you
                                            decide to sell. However, you will only profit or see a loss if you sell your
                                            asset. <br><br>
                                            Our investment approach in shortlisting the most potential crypto-assets and
                                            add them to our investment portfolios which also fall in line with our
                                            strategy for long-term investing.
                                        </p>
                                    </div>
                                </div>


                                <div
                                    class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content"
                                        style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #525252;">
                                        <h6>Futures</h6>
                                        <p>Futures contracts originated to help reduce risk for farmers by ensuring a
                                            guaranteed price for their crops. The price of a commodity was established
                                            on the day of contracting and a small deposit placed by the purchaser to
                                            ensure delivery. The actual delivery occurred on a future date, and the
                                            outstanding payment was settled. This allowed farmers to establish future
                                            prices for commodities such as wheat and helped merchants establish costs in
                                            advance of a purchase.
                                            Today, managed futures provide direct exposure to international financial
                                            and non-financial asset sectors. Trading advisors have the ability to trade
                                            in over 100 different markets worldwide. These markets include interest
                                            rates, stock indexes, currencies, precious metals, energies and agricultural
                                            products.
                                            Futures diversifies our portfolio by providing access to products that are
                                            hard to find elsewhere. Plus, we can get direct exposure to underlying
                                            assets mentioned above.
                                            When it comes to trading futures, you’ve got to have transparency and speed.
                                            More participation in a market means tighter pricing, lower costs and
                                            tremendously efficient trading. This is facilitated by the ongoing
                                            partnership between the company and its partner brokers who offer liquidity
                                            dark pools which give access to direct market action in real-time.
                                        </p>
                                    </div>
                                </div>

                                <div class="gdlr-core-pbf-wrapper" style="padding: 0px 0px 20px 0px;">
                                    <div class="gdlr-core-pbf-background-wrap">
                                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                                            style="background-size: cover; background-position: center;"
                                            data-parallax-speed="0"></div>
                                    </div>
                                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first"
                                                id="gdlr-core-column-41226">
                                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                                                    style="padding: 85px 40px 0px 0px;">
                                                    <div class="gdlr-core-pbf-background-wrap">
                                                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                                                            style="background-size: cover; background-position: center;"
                                                            data-parallax-speed="0"></div>
                                                    </div>
                                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                                        <div class="gdlr-core-pbf-element">
                                                            <div
                                                                class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">

                                                                <div class="gdlr-core-title-item-title-wrap">
                                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                                                        style="font-size: 44px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #353535;">
                                                                        Our risk management <br>approach<span
                                                                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-pbf-element">
                                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align gdlr-core-no-p-space"
                                                                style="padding-bottom: 38px;">
                                                                <div class="gdlr-core-text-box-item-content"
                                                                    style="font-size: 16px; font-weight: 400; letter-spacing: 0px; text-transform: none; color: #090909;">
                                                                    <p>
                                                                        In order to monitor risk related to portfolio manager’s activities, the board receives a report from the head of trade at each quarterly board meeting 
                                                                        or more frequently, as necessary, on developments and risks relating to portfolio positions, activities engagements, 
                                                                        financial instruments used in the portfolio and the portfolio composition as a whole.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-column gdlr-core-column-30"
                                                id="gdlr-core-column-85607">
                                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-column-extend-right"
                                                    style="padding: 75px 0px 70px 0px;">
                                                    <div class="gdlr-core-pbf-background-wrap">
                                                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                                                            style="background-image: url({% static 'upload/talk-bg00.jpg' %}); background-size: cover; background-position: center;"
                                                            data-parallax-speed="0"></div>
                                                    </div>
                                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                                        <div class="gdlr-core-pbf-element">
                                                            <div class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                                                                style="padding-bottom: 0px;">
                                                                <div class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle"
                                                                    style="border-width: 0px;">
                                                                    <img src="{% static 'upload/talk-bg.jpg' %}" alt="" width="601"
                                                                        height="398" title="talk bg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content"
                                        style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #525252;">
                                        <h6>Risk related to investment activities</h6>
                                        <p>With respect to the concentration of the company’s portfolio, the board acknowledges that there are numerous 
                                        risks associated with having a highly concentrated portfolio and that the primary risk management tool used by 
                                        the portfolio manager is the extensive research performed by the investment team prior to investment., along with the 
                                        ongoing monitoring of the positions held in the company’s portfolio. 

                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content"
                                        style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #525252;">
                                        <h6>Market risk</h6>
                                        <p>Adverse changes affecting the global financial markets and economy as a whole may have material negative impact on the performance of the company’s portfolios. In order to mitigate market-related downside risk the company diversifies its investment in financial assets that more long-term maturity period and seek to offset any risk that can affect the company in the short term. 

                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} end {% endcomment %}
{% endblock content %}