{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="dtt-page-title-wrap dtt-style-custom dtt-left-align">
    <div class="dtt-header-transparent-substitute"></div>
    <div class="dtt-page-title-overlay"></div>
    <div class="dtt-page-title-container dtt-container">
        <div class="dtt-page-title-content dtt-item-pdlr">
            <div class="dtt-page-caption">Our Team</div>
            <h1 class="dtt-page-title">The People</h1>
            <div class="dtt-page-caption-divider"></div>
        </div>
    </div>
</div>
{% comment %} the rest {% endcomment %}


<div class="dtt-page-wrapper" id="dtt-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper" style="padding: 70px 0px 70px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                    style="background-image: url(upload/about-team2-bg.png); background-repeat: no-repeat; background-position: top center;"
                    data-parallax-speed="0"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first"
                        id="gdlr-core-column-74930">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                            style="margin-top: 0px; margin-right: 0px; margin-left: 0px; padding: 0px 0px 90px 0px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js" style="max-width: 900px;">
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align">
                                        <div class="gdlr-core-divider-container" style="max-width: 1px;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                                style="border-color: #d32525; border-width: 69px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div
                                        class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                        <span
                                            class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                                            style="font-size: 14px; font-weight: 500; font-style: normal; letter-spacing: 3px; text-transform: uppercase; color: #d32525;">
                                            The Team
                                        </span>
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title"
                                                style="font-size: 44px; font-weight: 500; letter-spacing: 0px; text-transform: none; color: #1b1b1b;">
                                                Our Pride<span
                                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align gdlr-core-no-p-space"
                                        style="padding-bottom: 0px;">
                                        <div class="gdlr-core-text-box-item-content"
                                            style="font-size: 18px; font-weight: 200; letter-spacing: 0px; text-transform: none; color: #252525;">
                                            <p>
                                                We are insatiably curious to discover new solutions to
                                                quantitative and technical problems. We take ownership of our
                                                ideas and are motivated to see them through their execution.
                                                We thrive in a competitive environment where goal-based
                                                innovation is rewarded.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-personnel-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-personnel-item-style-grid-with-background gdlr-core-personnel-style-grid gdlr-core-with-background"
                                        style="padding-bottom: 0px;">
                                        <div class="gdlr-core-personnel-item-holder clearfix">
                                            <div
                                                class="gdlr-core-item-list gdlr-core-personnel-list-column gdlr-core-column-20 gdlr-core-column-first gdlr-core-item-pdlr clearfix">
                                                <div class="gdlr-core-personnel-list clearfix gdlr-core-outer-frame-element"
                                                    style="box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);">
                                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image">
                                                        <a href="about-team.html"><img src="{% static 'images/team/ken.jpg' %}" alt=""
                                                                width="1000" height="1000" title="P1" /></a>
                                                        <div class="gdlr-core-hover-opacity">
                                                            <div
                                                                class="gdlr-core-personnel-thumbnail-hover-content gdlr-core-center">
                                                                <div
                                                                    class="gdlr-core-personnel-thumbnail-hover-social gdlr-core-round-border">
                                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                        style="padding-bottom: 0px;">
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="facebook"><i
                                                                                class="fa fa-facebook"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="linkedin"><i
                                                                                class="fa fa-linkedin"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="twitter"><i
                                                                                class="fa fa-twitter"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-personnel-list-content-wrap">
                                                        <h3 class="gdlr-core-personnel-list-title"
                                                            style="font-size: 26px; font-weight: 500; letter-spacing: 0px; text-transform: none;">
                                                            <a href="about-team.html">Kenneth Allen Lehada</a>
                                                        </h3>
                                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption"
                                                            style="font-size: 17px; font-weight: 500; font-style: normal; letter-spacing: 0px;">
                                                            Founder & CEO
                                                        </div>
                                                        <div class="gdlr-core-personnel-list-social">
                                                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                style="padding-bottom: 0px;">
                                                                
                                                                <a href="#" target="_blank"
                                                                    class="gdlr-core-social-network-icon"
                                                                    title="linkedin"><i class="fa fa-linkedin"></i></a>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="gdlr-core-item-list gdlr-core-personnel-list-column gdlr-core-column-20 gdlr-core-item-pdlr clearfix">
                                                <div class="gdlr-core-personnel-list clearfix gdlr-core-outer-frame-element"
                                                    style="box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);">
                                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image">
                                                        <a href="about-team.html"><img src="{% static 'images/team/leobatius.jpg' %}" alt=""
                                                                width="1000" height="1000" title="P2" /></a>
                                                        <div class="gdlr-core-hover-opacity">
                                                            <div
                                                                class="gdlr-core-personnel-thumbnail-hover-content gdlr-core-center">
                                                                <div
                                                                    class="gdlr-core-personnel-thumbnail-hover-social gdlr-core-round-border">
                                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                        style="padding-bottom: 0px;">
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="facebook"><i
                                                                                class="fa fa-facebook"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="linkedin"><i
                                                                                class="fa fa-linkedin"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="twitter"><i
                                                                                class="fa fa-twitter"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-personnel-list-content-wrap">
                                                        <h3 class="gdlr-core-personnel-list-title"
                                                            style="font-size: 26px; font-weight: 500; letter-spacing: 0px; text-transform: none;">
                                                            <a href="about-team.html">Leobatius Karumuna </a>
                                                        </h3>
                                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption"
                                                            style="font-size: 17px; font-weight: 500; font-style: normal; letter-spacing: 0px;">
                                                            Head Of Trade
                                                        </div>
                                                        <div class="gdlr-core-personnel-list-social">
                                                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                style="padding-bottom: 0px;">
                                                                
                                                                <a href="#" target="_blank"
                                                                    class="gdlr-core-social-network-icon"
                                                                    title="linkedin"><i class="fa fa-linkedin"></i></a>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="gdlr-core-item-list gdlr-core-personnel-list-column gdlr-core-column-20 gdlr-core-item-pdlr clearfix">
                                                <div class="gdlr-core-personnel-list clearfix gdlr-core-outer-frame-element"
                                                    style="box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);">
                                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image">
                                                        <a href="about-team.html"><img src="{% static 'images/team/mathew.jpg' %}" alt=""
                                                                width="1000" height="1000" title="P3" /></a>
                                                        <div class="gdlr-core-hover-opacity">
                                                            <div
                                                                class="gdlr-core-personnel-thumbnail-hover-content gdlr-core-center">
                                                                <div
                                                                    class="gdlr-core-personnel-thumbnail-hover-social gdlr-core-round-border">
                                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                        style="padding-bottom: 0px;">
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="facebook"><i
                                                                                class="fa fa-facebook"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="linkedin"><i
                                                                                class="fa fa-linkedin"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="twitter"><i
                                                                                class="fa fa-twitter"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-personnel-list-content-wrap">
                                                        <h3 class="gdlr-core-personnel-list-title"
                                                            style="font-size: 26px; font-weight: 500; letter-spacing: 0px; text-transform: none;">
                                                            <a href="about-team.html">Mathew Lehada</a>
                                                        </h3>
                                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption"
                                                            style="font-size: 17px; font-weight: 500; font-style: normal; letter-spacing: 0px;">
                                                            Portfolio Manager
                                                        </div>
                                                        <div class="gdlr-core-personnel-list-social">
                                                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                style="padding-bottom: 0px;">
                                                                
                                                                <a href="#" target="_blank"
                                                                    class="gdlr-core-social-network-icon"
                                                                    title="linkedin"><i class="fa fa-linkedin"></i></a>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="gdlr-core-item-list gdlr-core-personnel-list-column gdlr-core-column-20 gdlr-core-column-first gdlr-core-item-pdlr clearfix">
                                                <div class="gdlr-core-personnel-list clearfix gdlr-core-outer-frame-element"
                                                    style="box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);">
                                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image">
                                                        <a href="about-team.html"><img src="{% static 'images/team/ahmed.jpg' %}" alt=""
                                                                width="1000" height="1000" title="P8" /></a>
                                                        <div class="gdlr-core-hover-opacity">
                                                            <div
                                                                class="gdlr-core-personnel-thumbnail-hover-content gdlr-core-center">
                                                                <div
                                                                    class="gdlr-core-personnel-thumbnail-hover-social gdlr-core-round-border">
                                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                        style="padding-bottom: 0px;">
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="facebook"><i
                                                                                class="fa fa-facebook"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="linkedin"><i
                                                                                class="fa fa-linkedin"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="twitter"><i
                                                                                class="fa fa-twitter"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-personnel-list-content-wrap">
                                                        <h3 class="gdlr-core-personnel-list-title"
                                                            style="font-size: 26px; font-weight: 500; letter-spacing: 0px; text-transform: none;">
                                                            <a href="about-team.html">Ahmed Amour</a>
                                                        </h3>
                                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption"
                                                            style="font-size: 17px; font-weight: 500; font-style: normal; letter-spacing: 0px;">
                                                            Chief Accountant
                                                        </div>
                                                        <div class="gdlr-core-personnel-list-social">
                                                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                style="padding-bottom: 0px;">
                                                                
                                                                <a href="#" target="_blank"
                                                                    class="gdlr-core-social-network-icon"
                                                                    title="linkedin"><i class="fa fa-linkedin"></i></a>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="gdlr-core-item-list gdlr-core-personnel-list-column gdlr-core-column-20 gdlr-core-item-pdlr clearfix">
                                                <div class="gdlr-core-personnel-list clearfix gdlr-core-outer-frame-element"
                                                    style="box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);">
                                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image">
                                                        <a href="about-team.html"><img src="{% static 'images/team/vivian.jpg' %}" alt=""
                                                                width="1000" height="1000" title="P4" /></a>
                                                        <div class="gdlr-core-hover-opacity">
                                                            <div
                                                                class="gdlr-core-personnel-thumbnail-hover-content gdlr-core-center">
                                                                <div
                                                                    class="gdlr-core-personnel-thumbnail-hover-social gdlr-core-round-border">
                                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                        style="padding-bottom: 0px;">
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="facebook"><i
                                                                                class="fa fa-facebook"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="linkedin"><i
                                                                                class="fa fa-linkedin"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="twitter"><i
                                                                                class="fa fa-twitter"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-personnel-list-content-wrap">
                                                        <h3 class="gdlr-core-personnel-list-title"
                                                            style="font-size: 26px; font-weight: 500; letter-spacing: 0px; text-transform: none;">
                                                            <a href="about-team.html">Vivian kafu</a>
                                                        </h3>
                                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption"
                                                            style="font-size: 17px; font-weight: 500; font-style: normal; letter-spacing: 0px;">
                                                            Sr. Marketing Manager
                                                        </div>
                                                        <div class="gdlr-core-personnel-list-social">
                                                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                style="padding-bottom: 0px;">
                                                                
                                                                <a href="#" target="_blank"
                                                                    class="gdlr-core-social-network-icon"
                                                                    title="linkedin"><i class="fa fa-linkedin"></i></a>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="gdlr-core-item-list gdlr-core-personnel-list-column gdlr-core-column-20 gdlr-core-item-pdlr clearfix">
                                                <div class="gdlr-core-personnel-list clearfix gdlr-core-outer-frame-element"
                                                    style="box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06); -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);">
                                                    <div class="gdlr-core-personnel-list-image gdlr-core-media-image">
                                                        <a href="about-team.html"><img src="{% static 'images/team/zepha.jpg' %}" alt=""
                                                                width="1000" height="1000" title="P5" /></a>
                                                        <div class="gdlr-core-hover-opacity">
                                                            <div
                                                                class="gdlr-core-personnel-thumbnail-hover-content gdlr-core-center">
                                                                <div
                                                                    class="gdlr-core-personnel-thumbnail-hover-social gdlr-core-round-border">
                                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                        style="padding-bottom: 0px;">
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="facebook"><i
                                                                                class="fa fa-facebook"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="linkedin"><i
                                                                                class="fa fa-linkedin"></i></a>
                                                                        <a href="#" target="_blank"
                                                                            class="gdlr-core-social-network-icon"
                                                                            title="twitter"><i
                                                                                class="fa fa-twitter"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-personnel-list-content-wrap">
                                                        <h3 class="gdlr-core-personnel-list-title"
                                                            style="font-size: 26px; font-weight: 500; letter-spacing: 0px; text-transform: none;">
                                                            <a href="about-team.html">Zephania Mjema</a>
                                                        </h3>
                                                        <div class="gdlr-core-personnel-list-position gdlr-core-info-font gdlr-core-skin-caption"
                                                            style="font-size: 17px; font-weight: 500; font-style: normal; letter-spacing: 0px;">
                                                            jr. Portfolio Manager
                                                        </div>
                                                        <div class="gdlr-core-personnel-list-social">
                                                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                                style="padding-bottom: 0px;">
                                                                
                                                                <a href="#" target="_blank"
                                                                    class="gdlr-core-social-network-icon"
                                                                    title="linkedin"><i class="fa fa-linkedin"></i></a>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% comment %} end {% endcomment %}
{% endblock content %}